@charset "utf-8";

/*Siempre es recomendable resetear el css y lo lograremos con estas lineas de código que me he descargado*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*Fin del reset CSS*/

body{
	font-size: 62.5%;
}

h1{
	font:normal 2.4em Verdana, Geneva, sans-serif;/*la unidad de medida em es un multiplicador*/
	background:-webkit-linear-gradient(top, #00F, #0CF);
	width: 35%;
	border-radius:10px;
	margin:15px auto;/*el 15px es el margen de arriba y de abajo y el el auto es el centrado del cuadro, en base al ancho del elemento que es 35%*/
	/*para que el texto esté centrado*/
	text-align:center;
	padding:15px;
	color:white;
	box-shadow:#00F 5px 7px 10px;/*el 3er px es el difuminado*/
	text-shadow:#FFF 2px 3px 3px;
}

h2{
	font:bold 1.7em Verdana, Geneva, sans-serif;
	margin:0;
	padding:5px 0 5px 0px;
	color:#000;
}

section{
	width: 91%;
	border-top:1px dashed #999;
	margin:15px auto;
}

figure{
	float:left;
}

figure img{/*esto quiere decir que aplique los cambios a las etiquetas img que estén dentro de la etiqueta figure o sean hijas de la etiqueta figure*/
	padding: 4px;/*este padding es blanco, pero como el fondo es blanco no se nota la fiferencia*/
	background:#666;/*esto es un sombreado que hace las veces de borde*/
	border-radius: 20px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;/*ease-in-out es la entrada y la salida de la ejecución y el 0.1s es el tiempo a esperar entre el in-out*//*el 0.3 es la velocidad de transformación del objeto*/
	box-shadow: #999 5px 5px 10px;
}

figure img:hover{/*:hover es una seudoclase*/
	-webkit-transform:scale(1.2);
}

figcaption{
	font-family: Arial, Melvetica, sans-serif;/*Pila con los ";"*/
	font-size: 1.3em;
	text-align: center;
	margin-top: 5px;
}

footer{
	clear:both;/*con esto se ignora el float y hace que el pie de página continúe abajo*/
	padding-top: 100px;
}

footer p{
	font:1.6em Georgia, "Times New Roman", Times, serif;
	color:#666;
	margin:10px 8px;

}