#video{
	width: 720px;
	margin: 20px auto;
	background: #FC3;
	padding: 5px 5px 5px 5px;
	border: 2px solid #F60;
	/*-webkit-es para que tenga compatibilidad el border radius con todos los navegadores, especificamente chrome*/
	-webkit-border-radius: 8px;/*chrome*/
	-moz-border-radius: 8px;/*mozila*/
	-ms-border-radius: 8px;/*microsoft*/
	-o-border-radius: 8px;/*opera*/
}

nav{
	margin: 5px 0;
}

#botones{
	float: left;
	width: 100px;
	height: 20px;
}

#barra{
	background: #FFF;
	width: 600px;
	height: 16px;
	border: 1px solid #666;
	padding: 3px;
	margin-left: 80px;
}

#progreso{
	position: absolute;
	width: 0px;
	height: 16px;
	background: rgba(0,0,150,2);
}